@font-face {
  font-family: 'PlayFair-Regular';
  src: url('./fonts/playfairdisplay-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/robotocondensed-bold-webfont.woff2') format('woff2'); 
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/robotocondensed-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Genericons';
  src: url('./fonts/Genericons.woff') format('woff');
}

:root{
  --color-red: #f72210;
  --color-black: #000;
  --color-grey-light: rgba(3,3,3,.4);
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #555;
}

* {
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box ; 
}

html {
  font-size: 62.5% ;
}

body{
  font-weight: normal;
  font-size: 1.6rem;
  color: #444;
  line-height: 1.6;
  font-family: Roboto-Regular;
  background-color: rgb(244,245,246);
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.wrapper {
  height: 1000vh;
  max-width: 131rem;
  margin: 0 auto;
  background-color: white;
}


.header-banner{
  background-color: var(--color-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 2.4rem 0 1.5rem;
}

.header-banner .newsweek-logo{
  width: 39rem;
  fill: white;
  position: relative;
  left: 30px;
}

.header-banner .newspaper-date{
  font-family: Roboto-Regular;
  font-weight: 400;
  font-size: 1.6rem;
  margin-left: 3rem;
  color: rgba(255, 255, 255, .9);
}

.left {
  align-self: flex-end;
}

.header-banner .right{
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.header-banner .right-chevron {
  width: 2.3rem;
  padding-left: 1.5rem;
  fill: var(--color-red);
}

.header-banner .signin a {
  margin-right: 1.3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
}

.header-banner .signin a:hover {
  text-decoration: none;
}

.header-banner .subscribe{
  display: flex;
  align-items: center;
  background-color: white;
  color: var(--color-red);
  outline: none;
  border: none;
  padding: 0 1.2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: Roboto-Bold;
  margin-right: 1rem;
  line-height: 1.5;
}

.header-links {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.4rem 0;
  border-bottom: 2px solid rgba(238,238,238, .7);
}

.header-links li {
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 1.2;
  padding: 0 2.4%;
}

.header-links li:last-of-type {
  border-right: none;
}

.header-links li a{
  display: inline-block;
  width: 100%;
  color: var(--color-black);
  font-family: Roboto-Bold;
  font-size: 2rem;
  transition: all .1s;
}

.header-links li a:hover {
  color: var(--color-red);
  text-decoration: none;
}


.header-links .search-bar, .header-links .search-bar::placeholder{
  order: 1;
  width: 6rem;
  font-size: 1.6rem;
  color: rgba(0,0,0,.55);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .2px;

}

.search-bar:focus ~ li{
  display: none;
}

.search-bar:focus{
  width: 90%;
  outline: none;
  font-size: 1.7rem;
  font-family: Arial;
  color: rgba(0,0,0,.45);
  padding: 0 2rem;
  height: 30px;
}

.search-bar:focus::placeholder {
  font-size: 0;
}

.header-links .search-icon {
  background-image: url(https://g.newsweek.com/www/images/icon-search-glass.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0;
  order: 1;
}


.header-links::before{
  position: absolute;
  top: 0;
  display: inline-block;
  content: '';
  width: 7.8rem;
  background-color: var(--color-red);
  border-left: 12px solid white;
  border-top: 12px solid red;
  right: 0;
}


/* 
[class^="col"] {
  border: 1px solid purple;
} */


.section-heading {
  color: var(--color-grey-light);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: 'Roboto-Bold';
  padding-bottom: .6rem;
}

.col-1{
  padding: 1rem 2rem;
  padding-right: 0
}

.business-tools-promo {
  display: inline-block;
  width: 100%;
}

.business-tools-promo img {
  width: 100%;
}

.col-1 h2, .col-2 h2 {
  color: var(--color-black);
  line-height: 1;
  font-family: Roboto-Bold;
  font-size: 2.4rem;
  transition: all .1s;
}

.col-1 p, .col-2 p  {
  color: var(--color-grey-dark-2);
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1.1rem 0;
}


.col-1 section, .col-2 section{
  position: relative;
  margin-bottom: 1rem;
}

.col-1 section a, .col-2 section a {
  display: block;
}

.col-1 section a:hover, .col-2 section a:hover{
  text-decoration: none;
}

.col-1 section a:last-child, .col-2 section a:last-child {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255, .9);
  text-transform: uppercase;
  color: var(--color-red);
  padding: .4rem 1.5rem;
  font-family: Roboto-Bold;
  font-size: 1.8rem;
}

.col-1 section img, .col-2 section img {
  width: 100%;
}

.col-1 h2 a:hover, .col-2 h2 a:hover {
  color: var(--color-black);
  text-decoration: underline var(--color-red);
}

.col-1 h3, .col-2 h3 {
  color: var(--color-black);
  padding: 1.1rem 0;
  border-bottom: 1px solid #ddd;
  font-family: Roboto-Bold;
  margin: 0;
  transition: all .1s;
}

.col-2 h3:last-of-type{
  border: none;
} 

.col-2 h3:first-of-type {
  border-top: 1px solid #ddd;
}

.col-1 h3:last-of-type{
  margin-bottom: 2rem;
}

.col-1 h3 a:hover, .col-2 h3 a:hover {
  color: var(--color-red);
  text-decoration: none;
}

.col-1 .top-world-story-text{
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.7rem;
  margin: 0;
}

.col-3 .author-card {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}


.col-3 .author-card:last-of-type {
  border-bottom: none;

}

.col-3 .avatar-box{
  margin-right: 1.5rem;
}

.col-3 .avatar-box img{
  cursor: pointer;
}

.col-3 .opinion-title {
  line-height: 1.3;
}

.col-3 .opinion-title a{
  font-size: 1.7rem;
  color: black;
  font-family: Roboto-Bold;
  transition: all .1s;
}

.col-3 .opinion-title a:hover{
  color: var(--color-red);
  text-decoration: none;
}

.col-3 .opinion-byline{
  color: var(--color-grey-dark-2);
  font-family: Roboto-Bold;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: .2rem;
}

.col-3 .latest-news-card {
  display: flex;
}

.col-3 .latest-news-card .news-img-box{
  flex-basis: 13.5rem;
  margin-right: 1.5rem;
}

.col-3 .latest-news-card .news-title{
  flex: 10;
}


.col-3 .news-img-box a {
  display: block;
  width: 100%;
}

.col-3 .news-img {
  width: 100%;
}

.col-3 .news-title a{
  font-size: 1.7rem;
  color: black;
  font-family: Roboto-Bold;
  transition: all .1s;
}

.col-3 .news-title a:hover{
  color: var(--color-red);
  text-decoration: none;
}

.col-3 .news-title { 
  line-height: 1.2;
}

.col-3 .latest-news-card {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}


.col-3 .latest-news-card:last-of-type {
  border-bottom: none;
}

.col-3 .latest-news-heading {
  padding: 0;
  margin: 0;
  margin-top: 2.7rem;
}
.col-3 {
  padding: 1rem 2rem;
}

.col-3 .newsletter {
  background-color: #f4f5f6;
  border: 1px solid #e5e5e5;
  padding: 2rem;
  width: 30rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.col-3 .newsletter-banner {
  display: flex;
  align-items: center;
}

.col-3 .newsletter button {
  background-color: #666;
  color: white;
  text-transform: uppercase;
  padding: .6rem 1.2rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  border: none;
  font-family: Roboto-Regular;
  margin: 1rem 0;
}

.col-3 .newsletter button:hover {
  background-color: #999;
}

.col-3 .newsletter button svg{
  width: .7rem;
  fill: white;
  margin-left: 1rem;
}

.col-3 .update-preferences a, .col-3 .update-preferences a:hover{
  text-decoration: none;
  color: var(--color-grey-dark-1);
  font-size: 1.5rem;
  font-family: Roboto-Bold;
}

.col-3 .newsletter .title, .in-magazine .title  {
  color: var(--color-grey-dark-1);
  text-transform: uppercase;
  font-size: 1.9rem;
  font-family: Roboto-Bold;
  width: 15.4rem;
  margin: 0;
}

.col-3 .newsletter .logo, .in-magazine .logo {
  width: 3rem;
  background-color: var(--color-red);
  margin-right: 1rem;
}


.col-2 .section-heading{
  border-bottom: 1px solid #ddd;
  margin-top: 1.4rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.col-2 .story-card {
  align-items: flex-start;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 1.5rem 0;
}

.col-2 .story-card:last-of-type{
  border: none;
}

.col-2 .story-title {
  line-height: 1.3;
}

.col-2 .story-title a{
  color: var(--color-black);
  line-height: 1;
  font-family: Roboto-Bold;
  font-size: 1.7rem;
  transition: all .1s;
}


.col-2 .story-title a:hover{
  color: var(--color-black);
  text-decoration: underline var(--color-red);
}

.col-2 .story-text {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-family: Arial;
  line-height: 1.4;
}

.col-2 .story-card .img-box {
  margin-right: 1.3rem;
}


.in-magazine {
  margin-top: 1rem;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  padding-left: 32%;
}

.in-magazine-row{
  padding-left: 4.6rem;
  padding-right: 3rem;
}

.col-1, .col-2, .col-3 {
  padding-top: 1rem;
}

.col-1 {
  padding-left: 3rem;
}

.col-3 {
  padding-right: 3rem;
  padding-left: 0;
}

.col-2 {
  padding: 1rem 3.3rem 0;
}

.news-headlines {
  margin-bottom: .9rem;
}

/* ARTICLE CARD */

.article-card a {
  display: block;
  width: 100%;
}

.article-card .article-card-img {
  width: 100%;
  height: 21vw;
  object-fit: cover;
}

.article-card  .article-card-sections {
  display: flex;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 1rem; 
  font-weight: bold;
  letter-spacing: .3px;
  /* font-family: Roboto-Bold; */
}

.article-card .selected-section{
  
  background-color: var(--color-red);
  margin-right: .8rem;
  color: white;
  padding: 0 .7rem;
  font-family: Roboto-Regular;
}

.article-card .unselected-section {
  color: var(--color-red);
  cursor: pointer;
  font-family: Roboto-Bold;

}


.article-card.article-card-1 {
  position: relative;
  top: -2.2vw;
}

.article-card.article-card-1 a{
  position: relative;
}

.article-card.article-card-1 .article-card-img{
  height: 100%;
}

.article-cards, .article-cards-row-2{
  padding: 0 3rem;
}

.article-cards-row-2{
  margin-top: -1rem;
}

.article-card-1, .article-card-5{
  padding-left: 0;
}

.article-card-4, .article-card-8{
  padding-right: 0;
}

.article-card.article-card-1 .article-card-title a{
  font-size: 1.8rem ;
  background-color: #f4f5f6;
  padding: 1.1rem;
  margin-top: 0;
  text-align: center;
}

.article-card.article-card-1 .article-card-title a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-card.article-card-1 .text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(255,255,255, 0.9);
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-red);
  cursor: pointer;
  font-weight: bold;
  font-family: Roboto-Bold;
  font-size: 1.6rem;
}

.article-card.article-card-1 .article-card-title a:hover {
  background-color: #dbdcdd;
  text-decoration: none;
} 

.article-card.article-card-1 .right-chevron {
  width: .8rem;
  margin-left: .8rem;
  position: relative;
  top: .1rem;
}

.article-cards {
  /* border-top: 1px solid #ccc; */
  padding-top: 1.6rem;
}



.article-card .article-card-title a{
  color: var(--color-black);
  font-weight: bold;
  font-family: Roboto-Bold;
  font-size: 2rem;
  line-height: 1.1;
  margin: 1rem 0;
}

.article-card .article-card-title a:hover {
  text-decoration: underline var(--color-red);
}

.article-card.article-card-8 a{
  position: relative;
}

.article-card.article-card-8 .img-caption{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
  color: white;
  padding: 0 .7rem;
  display: inline-block;
  text-transform: uppercase;
  position: absolute;
}

.editors-pick{
  padding-bottom: 1rem;
}

.editors-pick-heading-row{
  padding: 0 3rem;
}

.editors-pick-heading {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.editors-pick-heading .logo{
  width: 3rem;
  background-color: var(--color-red);
  margin-right: 1rem;
}

.editors-pick-heading .title{
  color: var(--color-grey-dark-1);
  text-transform: uppercase;
  font-size: 1.9rem;
  font-family: Roboto-Bold;
  margin: 0;
}

.editors-pick section{
  position: relative;
  margin-bottom: 1rem;
}

.editors-pick section a {
  display: block;
}

.editors-pick section img {
  width: 100%;
  height: 14vw;
  object-fit: cover;
}

.editors-pick section a:last-child{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255, .9);
  text-transform: uppercase;
  color: var(--color-red);
  padding: .4rem 1.5rem;
  font-family: Roboto-Bold;
  font-size: 1.7rem;
}

.editors-pick section a:last-child:hover{
  text-decoration: none;
}

.row.editors-pick-section{
  margin-top: 1.6rem;
  padding: 0 1.5rem;
}

.editors-pick-title{
  line-height: 1.1;
}

.editors-pick-title a {
  color: var(--color-black);
    font-weight: bold;
    font-family: Roboto-Bold;
    font-size: 2.4rem;
    margin: 1rem 0;
    letter-spacing: .1px;
}

.editors-pick-title a:hover{
  text-decoration: underline var(--color-red);
} 

.editors-pick p {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-family: Arial;
  line-height: 1.4;
}






@media screen and (max-width: 1080px){
  .article-card {
    padding-bottom: 2.5rem;
  }

}

@media screen and (max-width: 1000px){
  .col-3, .col-1 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .col-1 {
    padding-right: 1.4rem !important;
  }
  .col-2 {
    padding-right: 1.5rem;
    padding-left: 1.4rem;
  }

}

@media screen and (max-width: 992px){
  .article-card {
    padding-bottom: 2.5rem;
  }

  .in-magazine {
    padding-left: 52.7%
  }

  .col-3 .latest-news-card .news-img-box{
    flex: 0;
    flex-basis: 13.5rem;
  }

  .in-magazine-row{
    padding-left: 30%;
  }
  .row.article-cards, .article-cards-row-2{
    padding: 0 1.5rem;
  }

  .in-magazine-standalone{
    padding-left: 35.7%;
  }

  .editors-pick-heading-row{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .editors-pick-section{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .editors-pick section img {
    height: 30.8vw;
  }

}

@media screen and (max-width: 768px){
  .col-3, .col-1, .col-2 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .col-3 .latest-news-card .news-img-box {
    flex: 0;
    flex-basis: 25.8rem;
  }

  .article-cards, .article-cards-row-2{
    padding: 0 1.5rem;
  }

  .article-card{
    padding-left: 0;
    padding-right: 0;
  }

  .article-cards, .article-cards-row-2 {
    background-color: white;
  }

  .article-cards-row-2{
    margin-top: 0;
  }

  .article-card .article-card-img{
    height: 62.5vw;
  }

  .article-card .article-card-title a{
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  .article-card.article-card-1{
    padding-bottom: 0;
  }

  .in-magazine-standalone {
    display: none;
  }

  .newsletter {
    margin-bottom: .8rem !important;
  }

  .in-magazine-article-card {
    display: flex;
    border-bottom: none;
    justify-content: center;
    padding: 0;
    margin-top: 2.8rem;
  }

  .editors-pick-heading-row, .editors-pick-section {
    background-color: white;
  }

  .editors-pick-title a {
    font-size: 2rem;
  }

  .editors-pick p {
    font-size: 1.3rem;
  }

  .editors-pick section img {
    height: 62.8vw;
  }
}


